.review-page-body{
    margin: 0 auto;
    width: 95%;
    margin-bottom: 100px;
  }


.review-page-title {
    margin: 0 auto;
    display: grid;
    border: 2px solid #ea753e;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.review-page-title h2 {
    justify-self: center;
}

.review-page-title select {
    justify-self: center;
    margin-bottom: 10px;
}

.legend {
    font-size: 12px;
    color: grey;
  }
  
  .option-select-menu {
    text-align: center;
  }
  
  select {
    margin: 5px;
  }