.card-layout {
    display: grid;
    grid-template-rows: 50px auto;
    margin-top: 30px;
}

.card-title {
    background-color: #ea753e;
    align-items: center;
    display: flex;
    padding-left: 3vw;
    font-size: 15pt;
    color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.lineGraphIcon {
    margin-left: 15px;
    transform: translateY(1px);
}

.batch-dropdown{
    margin-left: auto;
    margin-right: 2vw;
}

#divChart3 {
    display: block;
    position: relative; 
    width: 45vw;
    margin: 0 auto;
}

.card-body {
    display: grid;
    justify-items: center;
    border: 2px solid #ea753e;
}