.card-layout {
    display: grid;
    grid-template-rows: 50px auto;
    margin: 0 auto;
    width: 80%;
    margin-bottom: 100px;
    text-align: center;
}

.card-body {
    display: grid;
    justify-items: center;
    border: 2px solid #ea753e;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}