
#calendar-container{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
    margin:30px 120px;
    padding: 2px;
    background-color: #ea753e;
}
#full-calendar{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
    background-color: #f5f5f5;
    padding:5px;
}

h3 {
    margin: 0 0 10px;
  }
  
  pre {
    background-color: #f5f5f5;
    padding: 15px;
  }
    
  .qc-title{
    margin:30px 120px;
    display: grid;
    border: 2px solid #ea753e;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .qc-title h2{
    justify-self: center;
    margin:20px;
  }
  
  .qc-title select{
    justify-self: center;
    margin-bottom: 10px;
  }
  
  .legend {
    font-size: 12px;
    color: grey;
  }
  
  .option-select-menu {
    text-align: center;
  }
  
  select {
    margin: 5px;
  }