.mainNav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.mainTitle {
    display: grid;
    justify-self: center;
    color: #4a4f57;
    padding-top: 6px;
    font-family: ‘Prompt’, sans-serif;
    font-style: italic;
    font-size: 16pt;
    white-space: nowrap;
}

.mainNavBG {
    background-color: rgb(185, 185, 185);
    position: absolute;
    width: 100%;
    height: 34px;
    left: 0;
    top: 0;
    padding: 5px 0;
    box-shadow: 2px 1px 3px #6d6a96;
    z-index: 5;
}

.mainLogo {
    justify-self: start;
    margin-left: 35px;
    transition: all 0.5s ease;
}

.mainLogoIMG {
    height: 30px;
}

.navButtonSection {
    display: flex;
    justify-content: flex-end;
    color: #4a4f57;
    font-size: 10pt;
    font-family: ‘Prompt’, sans-serif;
    align-self: center;
    align-content: center;
    text-align: end;
    white-space: nowrap;
    transition: all 0.5s ease;
}

.navButtonSection a {
    text-decoration: none;
    color: #474e58;
}

.navButtonSection a:hover {
    text-decoration: underline;
}

.firstBtn {
    margin-right: 30px;
    transition: all 0.5s ease;
}

.secondBtn {
    margin-right: 35px;
    transition: all 0.5s ease;
}

.hBSection {
    display: grid;
    justify-items: end;
    align-items: center;
    transition: all 0.5s ease;
}

.hamburgerButton {
    color: #5a534e;
    margin-right: 20px;
    font-size: 14pt;
    cursor: pointer;
    transition: all 0.5s ease;
}

.hambIcon {
    border: 1px solid;
    padding: 1px 4px;
    border-radius: 5px;
}

.hambDropdown {
    display: none;
    position: absolute;
    right: 0;
    display: grid;
    margin-right: 18px;
    text-align: end;
    margin-top: 40px;
}

#hambDropdown {
    display: none;
    font-size: 12pt;
    font-family: ‘Prompt’, sans-serif;
}

.hambDropdown a {
    text-decoration: none;
    color: white;
}

.hambDropdown a:hover {
    text-decoration: underline;
}

.hambBG {
    background-color: #b1b1b1;
    width: 300px;
    height: 84px;
    display: inline;
    position: absolute;
    z-index: 1;
    transform: translateY(-15px);
    right: -100px;
    border-bottom-left-radius: 10px;
}